In [67]:
import pandas as pd

df = pd.read_csv("Admission_Predict.csv", index_col=0)

#cleaning the data
df.columns = df.columns.str.strip()


df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

## We want to index the data frame by chance of admit but we want to keep the original index

In [68]:
df['Serial Number'] = df.index

df = df.set_index('Chance of Admit')

df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial Number
Chance of Admit,,,,,,,,
0.92,337,118,4,4.5,4.5,9.65,1,1
0.76,324,107,4,4.0,4.5,8.87,1,2
0.72,316,104,3,3.0,3.5,8.00,1,3
0.80,322,110,3,3.5,2.5,8.67,1,4
0.65,314,103,2,2.0,3.0,8.21,0,5

In [69]:
# we can get rid of the index completely

df = df.reset_index() #chande of admint won't be the index anymore
df.head()

,Chance of Admit,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial Number
0,0.92,337,118,4,4.5,4.5,9.65,1,1
1,0.76,324,107,4,4.0,4.5,8.87,1,2
2,0.72,316,104,3,3.0,3.5,8.00,1,3
3,0.80,322,110,3,3.5,2.5,8.67,1,4
4,0.65,314,103,2,2.0,3.0,8.21,0,5

# Multiple indexing

In [70]:
df = pd.read_csv("census.csv")
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [71]:
#Similar to the SQL DISTINCT operator.

df["SUMLEV"].unique()

array([40, 50], dtype=int64)

Let's exclude all the rows thata are summaries at the stated level and just keep the ones at the county data.

In [72]:
df = df[df["SUMLEV"] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

Let's reduce the data we will be looking at to just the total population estimates and the total number of births.

In [73]:
columns_to_keep = ["STNAME", "CTYNAME", "BIRTHS2010", "BIRTHS2011", "BIRTHS2012", "BIRTHS2013", "BIRTHS2014", "BIRTHS2015", "POPESTIMATE2010", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", "POPESTIMATE2014", "POPESTIMATE2015"]

df = df[columns_to_keep]    
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [74]:
# Which states we have in our data set

df["STNAME"].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [75]:
df[df["STNAME"] == "Virginia"]

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
2867,Virginia,Accomack County,87,473,457,342,374,369,33165,33287,33314,33005,32998,32973
2868,Virginia,Albemarle County,295,1104,1061,1100,1121,1096,99236,100643,101962,102883,104351,105703
2869,Virginia,Alleghany County,30,171,151,156,118,121,16211,16340,16233,16195,15884,15677
2870,Virginia,Amelia County,39,147,134,136,126,130,12742,12757,12740,12698,12785,12903
2871,Virginia,Amherst County,86,341,330,308,319,310,32385,32119,32449,32198,32062,31914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Virginia,Suffolk city,274,1129,1094,1049,1153,1131,84876,84793,85238,85786,86944,88161
2996,Virginia,Virginia Beach city,1468,6193,6270,6020,6130,6068,439038,442976,445728,449120,450879,452745
2997,Virginia,Waynesboro city,66,293,296,274,315,332,21038,21020,20989,21064,21186,21491
2998,Virginia,Williamsburg city,30,116,86,106,99,75,13694,14320,14710,14851,14837,15052
2999,Virginia,Winchester city,94,428,354,360,323,340,26162,26704,27088,27380,27383,27284

The US Census data breaks down population estimates by state and county. We can set the index as a combination of state and county to get a unique index for each row.

In [76]:
df = df.set_index(["STNAME", "CTYNAME"])
df

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County            151         636         615         574
        Baldwin County            517        2187        2092        2160
        Barbour County             70         335         300         283
        Bibb County                44         266         245         259
        Blount County             183         744         710         646
...                               ...         ...         ...         ...
Wyoming Sweetwater County         167         640         595         657
        Teton County               76         259         230         261
        Uinta County               73         324         311         316
        Washakie County            26         108          90          95
        Weston County              26          81          74          93

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County            623         600            54660
        Baldwin County           2186        2240           183193
        Barbour County            260         269            27341
        Bibb County               247         253            22861
        Blount County             618         603            57373
...                               ...         ...              ...
Wyoming Sweetwater County         629         620            43593
        Teton County              249         269            21297
        Uinta County              316         316            21102
        Washakie County            96          90             8545
        Weston County              77          79             7181

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County               55253            55175            55038
        Baldwin County              186659           190396           195126
        Barbour County               27226            27159            26973
        Bibb County                  22733            22642            22512
        Blount County                57711            57776            57734
...                                    ...              ...              ...
Wyoming Sweetwater County            44041            45104            45162
        Teton County                 21482            21697            22347
        Uinta County                 20912            20989            21022
        Washakie County               8469             8443             8443
        Weston County                 7114             7065             7160

                           POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County               55290            55347
        Baldwin County              199713           203709
        Barbour County               26815            26489
        Bibb County                  22549            22583
        Blount County                57658            57673
...                                    ...              ...
Wyoming Sweetwater County            44925            44626
        Teton County                 22905            23125
        Uinta County                 20903            20822
        Washakie County               8316             8328
        Weston County                 7185             7234

[3142 rows x 12 columns]

# How to query dataframes with multi-indexes

You must provide the arguments in order of the index levels.

In [77]:
# Population of the Washteaw County in Michigan

df.loc[("Michigan", "Washtenaw County")]

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [78]:
# Comparing two counties. We must provide a list of tuples

df.loc[ [("Michigan", "Washtenaw County"), ("Michigan", "Wayne County")] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

In [79]:
df.loc[ [("Virginia", "Loudon County"), ("Colorado", "Crowley County")]]

KeyError: "[('Virginia', 'Loudon County')] not in index"