In [47]:
import pandas as pd
import numpy as np

from scipy import stats

df = pd.read_csv('grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [48]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

Segmenting the data frame into two data frames, one for the early finishers and one for the late finishers. The first assigment by the end of December 2015 we will call them early finishers and the rest late finishers.

In [49]:
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,71.481182,2015-10-03 09:04:46.358000000,70.981182,2015-10-06 03:57:28.420000000,64.603064,2015-10-12 07:58:25.081000000,63.703064,2015-10-17 07:59:49.005000000,50.962451,2015-10-18 02:29:34.374000000,45.866206,2015-10-27 00:21:47.208000000
2309,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,82.640274,2015-10-01 23:25:20.529000000,65.752219,2015-10-05 02:06:11.522000000,53.341775,2015-10-22 23:58:36.426000000,47.197598,2015-10-16 12:32:56.809000000,47.197598,2015-10-24 12:16:54.993000000,37.758078,2015-10-26 10:34:41.293000000
2311,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,75.367870,2015-11-29 02:43:27.932000000,59.934296,2015-12-03 05:30:39.218000000,48.687437,2015-12-09 15:56:44.895000000,43.008693,2015-12-13 06:18:01.342000000,38.707824,2015-12-20 02:39:39.248000000,38.707824,2015-12-22 13:34:42.931000000
2312,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,73.269463,2015-10-20 08:09:27.418000000,58.255570,2015-11-18 19:07:06.930000000,58.955570,2015-12-10 08:54:54.871000000,52.250013,2015-11-23 19:40:00.434000000,41.800010,2015-11-29 14:23:43.659000000,41.800010,2015-12-04 09:56:07.156000000
2314,DDE0526B-7DA4-80E8-C2A6-D097F3826029,80.318105,2015-10-04 09:46:03.403000000,79.818105,2015-10-06 10:28:30.820000000,64.594484,2015-10-13 17:06:29.179000000,50.955587,2015-10-06 16:18:35.513000000,40.764470,2015-10-23 17:03:26.939000000,40.764470,2015-10-26 15:56:55.460000000

In [50]:
late_finishers = df[pd.to_datetime(df['assignment1_submission']) >= '2016']
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

Another solution is:

In [51]:
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

Let's compare the means for our two populations:

In [52]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

Ok, these look pretty similar. But, are they the same? What do we mean by similar? This is where the
students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well
as the null hypothesis ("These are the same") and then test that null hypothesis.

When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a
chance we're willing to accept. This significance level is typically called alpha. #For this example, let's
use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
arbitrary.

The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value.
It's this latter value, the probability, which is most important to us, as **it indicates the chance (between
0 and 1) of our null hypothesis being True**. It indicates the probability that our sample has the special properties only by chance.

Let's bring in our ttest_ind function

The basic steps to perform a t-test include:

* Formulate Hypotheses: Define a null hypothesis (usually stating that there is no effect or no difference) and an alternative hypothesis (stating that there is an effect or a difference) **This is usually our hyphothesis**.
Calculate the t-statistic: The t-statistic is calculated from the sample data. It represents how far the sample mean deviates from the null hypothesis mean, scaled by the variability of the data.
* Determine the Degrees of Freedom (df): This is typically related to the number of observations in your data. For example, in a one-sample t-test, df = n - 1, where n is the sample size.
* Find the p-value: Using the calculated t-statistic and degrees of freedom, you find the p-value from the t-distribution. The p-value indicates the probability of observing the data (or something more extreme) if the null hypothesis is true.
* Make a Decision: If the p-value is less than the chosen significance level (commonly set at 0.05), you reject the null hypothesis in favor of the alternative hypothesis, concluding that there is a statistically significant difference.

*The t-test assumes that the data are approximately normally distributed and that the variances of the two groups are equal (for a two-sample t-test). When these assumptions are not met, other statistical tests may be more appropriate.*

In [53]:
from scipy.stats import ttest_ind

ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

So here we see that the probability is 0.18, and this is above our alpha value of 0.05. This means that we
cannot reject the null hypothesis. The null hypothesis was that the two populations are the same, and we
don't have enough certainty in our evidence (because it is greater than alpha) to come to a conclusion to
the contrary. This doesn't mean that we have proven the populations are the same.

## checking the other assignments

In [54]:
print(early_finishers['assignment2_grade'].mean())
print(late_finishers['assignment2_grade'].mean())

print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))

67.22912904587568
66.39581252709762
Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)

In [55]:
print(early_finishers['assignment3_grade'].mean())
print(late_finishers['assignment3_grade'].mean())

print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))

61.09880465723409
60.056161676690664
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)

In [56]:
print(early_finishers['assignment4_grade'].mean())
print(late_finishers['assignment4_grade'].mean())

print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))

54.1260014539868
54.09555235701582
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)

In [57]:
print(early_finishers['assignment5_grade'].mean())
print(late_finishers['assignment5_grade'].mean())

print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))

48.60452389399183
48.63521136830732
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)

In [58]:
print(early_finishers['assignment6_grade'].mean())
print(late_finishers['assignment6_grade'].mean())

print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

43.81214406669977
43.876393629554016
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

it looks like in this data we do not have enough evidence to suggest the populations differ with
respect to grade. Let's take a look at those p-values for a moment though, because they are saying things
that can inform experimental design down the road. For instance, one of the assignments, assignment 3, has a
p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been
considered statistically significant. As a research, this would suggest to me that there is something here
worth considering following up on. For instance, if we had a small number of participants (we don't) or if
there was something unique about this assignment as it relates to our experiment (whatever it was) then
there may be followup experiments we could run.

In [59]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)]) 
#np.random.random(100): This function call generates an array of 100 random float numbers between 0.0 and 1.0.
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.009969,0.686655,0.533164,0.686174,0.905169,0.013047,0.929078,0.319516,0.331432,0.842894,...,0.724853,0.733591,0.697405,0.247833,0.957381,0.210250,0.248099,0.597639,0.353054,0.889708
1,0.699901,0.892122,0.680875,0.214088,0.411129,0.076973,0.983656,0.547412,0.959611,0.354834,...,0.147144,0.638311,0.655527,0.435659,0.873795,0.986793,0.053936,0.257880,0.769873,0.338075
2,0.800326,0.542987,0.069828,0.812929,0.006155,0.827637,0.006654,0.213922,0.660792,0.789607,...,0.341046,0.977139,0.514042,0.176301,0.897548,0.009982,0.106538,0.187519,0.067233,0.445650
3,0.628785,0.614521,0.186904,0.405408,0.913143,0.150095,0.239061,0.549904,0.513000,0.177672,...,0.779260,0.597882,0.578997,0.294269,0.626296,0.390104,0.113391,0.645744,0.264900,0.614001
4,0.548960,0.791860,0.673064,0.604140,0.287812,0.110786,0.930348,0.798304,0.506629,0.378577,...,0.912298,0.439382,0.904735,0.207468,0.639521,0.756693,0.282506,0.110168,0.081253,0.572332

In [60]:
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.774902,0.351575,0.820730,0.209188,0.627334,0.768184,0.579899,0.463896,0.253218,0.378068,...,0.262665,0.771786,0.273439,0.017562,0.364150,0.542253,0.175584,0.324116,0.842110,0.702526
1,0.082662,0.059569,0.709728,0.841299,0.901948,0.740452,0.406250,0.744872,0.083300,0.067171,...,0.159267,0.379118,0.831325,0.134490,0.131265,0.691169,0.665248,0.417010,0.007369,0.633450
2,0.211016,0.301097,0.149085,0.506181,0.895228,0.026350,0.177633,0.649397,0.521086,0.683382,...,0.861659,0.926273,0.836753,0.086906,0.795858,0.280341,0.392983,0.237780,0.105568,0.404041
3,0.155301,0.539617,0.851658,0.280456,0.811059,0.596403,0.769379,0.891584,0.985207,0.431601,...,0.693896,0.766248,0.140189,0.593448,0.705817,0.153117,0.495716,0.146068,0.098831,0.710583
4,0.068736,0.866955,0.456455,0.686264,0.451675,0.783710,0.880130,0.073410,0.968871,0.707838,...,0.283110,0.258328,0.547763,0.148175,0.217172,0.101896,0.473301,0.305571,0.523618,0.338578

Are these two DataFrames the same? Maybe a better question is, for a given row inside of df1, is it the same
as the row inside df2?

Let's take a look. Let's say our critical value is 0.1, or and alpha of 10%. And we're going to compare each
column in df1 to the same numbered column in df2. And we'll report when the p-value isn't less than 10%,
which means that we have sufficient evidence to say that the columns are different.

Let's write this in a function called test_columns

In [61]:

def test_columns(alpha=0.1):
    # I want to keep track of how many differ
    num_diff=0
    # And now we can just iterate over the columns
    for col in df1.columns:
        # we can run out ttest_ind between the two dataframes
        teststat,pval=ttest_ind(df1[col],df2[col])
        # and we check the pvalue versus the alpha
        if pval<=alpha:
            # And now we'll just print out if they are different and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    # and let's print out some summary stats
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

# And now lets actually run this
test_columns()

Col 11 is statistically significantly different at alpha=0.1, pval=0.07853882908214607
Col 17 is statistically significantly different at alpha=0.1, pval=0.047290119577814545
Col 27 is statistically significantly different at alpha=0.1, pval=0.09715674152706308
Col 28 is statistically significantly different at alpha=0.1, pval=0.024953389432437894

Col 31 is statistically significantly different at alpha=0.1, pval=0.06187386359630713
Col 42 is statistically significantly different at alpha=0.1, pval=0.023891210951528366
Col 46 is statistically significantly different at alpha=0.1, pval=0.03288303983822817
Col 47 is statistically significantly different at alpha=0.1, pval=0.07074490437736773
Col 54 is statistically significantly different at alpha=0.1, pval=0.021797116980225077
Col 55 is statistically significantly different at alpha=0.1, pval=0.07629312865832953
Col 77 is statistically significantly different at alpha=0.1, pval=0.06863998782206927
Col 84 is statistically significantly different at alpha=0.1, pval=0.08960225130300595
Col 85 is statistically significantly different at alpha=0.1, pval=0.08188960513298062
Col 96 is statistically significantly different at alpha=0.1, pval=0.0024842687655481453
Col 99 is statistically significantly different at alpha=0.1, pval=0.09076562058086741
Total number different was 15, which is 15.0%

Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.
The more random comparisons you do, the more will just happen to be the same by chance. In this example, we
checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

We can test some other alpha values as well

In [62]:
test_columns(0.05)

Col 17 is statistically significantly different at alpha=0.05, pval=0.047290119577814545
Col 28 is statistically significantly different at alpha=0.05, pval=0.024953389432437894
Col 42 is statistically significantly different at alpha=0.05, pval=0.023891210951528366
Col 46 is statistically significantly different at alpha=0.05, pval=0.03288303983822817
Col 54 is statistically significantly different at alpha=0.05, pval=0.021797116980225077
Col 96 is statistically significantly different at alpha=0.05, pval=0.0024842687655481453
Total number different was 6, which is 6.0%

So, keep this in mind when you are doing statistical tests like the t-test which has a p-value. Understand
that this p-value isn't magic, that it's a threshold for you when reporting results and trying to answer
your hypothesis. What's a reasonable threshold? Depends on your question, and you need to engage domain
experts to better understand what they would consider significant.

Just for fun, lets recreate that second dataframe using a non-normal distribution, I'll arbitrarily chose
chi squared

In [63]:
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.0017362599704785428
Col 1 is statistically significantly different at alpha=0.1, pval=0.012914582860455806
Col 2 is statistically significantly different at alpha=0.1, pval=0.0002947637668663378
Col 3 is statistically significantly different at alpha=0.1, pval=0.0020270478934614152
Col 4 is statistically significantly different at alpha=0.1, pval=8.15288635163793e-06
Col 5 is statistically significantly different at alpha=0.1, pval=0.0069578364349614135
Col 6 is statistically significantly different at alpha=0.1, pval=0.002044706102067499
Col 7 is statistically significantly different at alpha=0.1, pval=0.014908002004713984
Col 8 is statistically significantly different at alpha=0.1, pval=0.00039231964322460555
Col 9 is statistically significantly different at alpha=0.1, pval=0.0011119969386020518
Col 10 is statistically significantly different at alpha=0.1, pval=0.0003509677443256612
Col 11 is statistically significantly different at alpha=0.1, pval=0.000135070848623632
Col 12 is statistically significantly different at alpha=0.1, pval=6.865459663652896e-05
Col 13 is statistically significantly different at alpha=0.1, pval=0.00046016183984676077
Col 14 is statistically significantly different at alpha=0.1, pval=0.0006184241903403319
Col 15 is statistically significantly different at alpha=0.1, pval=0.0002729343792756376
Col 16 is statistically significantly different at alpha=0.1, pval=0.007058968383452326
Col 17 is statistically significantly different at alpha=0.1, pval=3.311251258100559e-05
Col 18 is statistically significantly different at alpha=0.1, pval=0.0006351546640991737
Col 19 is statistically significantly different at alpha=0.1, pval=1.1038471731726268e-05
Col 20 is statistically significantly different at alpha=0.1, pval=0.000754657270883298
Col 21 is statistically significantly different at alpha=0.1, pval=0.0007717593878166818
Col 22 is statistically significantly different at alpha=0.1, pval=0.004404565729441199
Col 23 is statistically significantly different at alpha=0.1, pval=0.001442604511699467
Col 24 is statistically significantly different at alpha=0.1, pval=2.725931309948891e-05
Col 25 is statistically significantly different at alpha=0.1, pval=0.003818682458927011
Col 26 is statistically significantly different at alpha=0.1, pval=0.023662350641343265
Col 27 is statistically significantly different at alpha=0.1, pval=0.0001974364887430573
Col 28 is statistically significantly different at alpha=0.1, pval=0.0008997556985745876
Col 29 is statistically significantly different at alpha=0.1, pval=0.0007389439596242449
Col 30 is statistically significantly different at alpha=0.1, pval=0.0025431440510116903
Col 31 is statistically significantly different at alpha=0.1, pval=0.006699469918846542
Col 32 is statistically significantly different at alpha=0.1, pval=0.0002516945324496939
Col 33 is statistically significantly different at alpha=0.1, pval=5.1466156158042665e-05
Col 34 is statistically significantly different at alpha=0.1, pval=0.00427939195802721
Col 35 is statistically significantly different at alpha=0.1, pval=0.00022228942308930697
Col 36 is statistically significantly different at alpha=0.1, pval=0.0010511206784532003
Col 37 is statistically significantly different at alpha=0.1, pval=7.649038187436963e-05
Col 38 is statistically significantly different at alpha=0.1, pval=0.0006398963839304083
Col 39 is statistically significantly different at alpha=0.1, pval=0.006832820897862743
Col 40 is statistically significantly different at alpha=0.1, pval=0.003956982147513515
Col 41 is statistically significantly different at alpha=0.1, pval=0.018810161745638702
Col 42 is statistically significantly different at alpha=0.1, pval=0.0004895080614469716
Col 43 is statistically significantly different at alpha=0.1, pval=0.0016936218555305238
Col 44 is statistically significantly different at alpha=0.1, pval=0.0023884800492219244
Col 45 is statistically significantly different at alpha=0.1, pval=0.0021934573390410923
Col 46 is statistically significantly different at alpha=0.1, pval=0.002841734032624575
Col 47 is statistically significantly different at alpha=0.1, pval=0.002542388692669502
Col 48 is statistically significantly different at alpha=0.1, pval=0.00015899959305308456
Col 49 is statistically significantly different at alpha=0.1, pval=0.0005815288784016243
Col 50 is statistically significantly different at alpha=0.1, pval=0.0004565512180018119
Col 51 is statistically significantly different at alpha=0.1, pval=0.0001471890940456902
Col 52 is statistically significantly different at alpha=0.1, pval=0.002234025313925741
Col 53 is statistically significantly different at alpha=0.1, pval=0.0010412217720470087
Col 54 is statistically significantly different at alpha=0.1, pval=0.0004603331174410067
Col 55 is statistically significantly different at alpha=0.1, pval=0.0023940345428442593
Col 56 is statistically significantly different at alpha=0.1, pval=0.00021980551145167572
Col 57 is statistically significantly different at alpha=0.1, pval=0.002065367657275203
Col 58 is statistically significantly different at alpha=0.1, pval=4.245768838252653e-05
Col 59 is statistically significantly different at alpha=0.1, pval=0.00040963484139966487
Col 60 is statistically significantly different at alpha=0.1, pval=3.170769033618623e-05
Col 61 is statistically significantly different at alpha=0.1, pval=1.4359389781760199e-05
Col 62 is statistically significantly different at alpha=0.1, pval=0.0006844492585274561
Col 63 is statistically significantly different at alpha=0.1, pval=0.0013115014177844384
Col 64 is statistically significantly different at alpha=0.1, pval=0.0004617437936251225
Col 65 is statistically significantly different at alpha=0.1, pval=0.000595496340937558
Col 66 is statistically significantly different at alpha=0.1, pval=1.538426624626511e-05
Col 67 is statistically significantly different at alpha=0.1, pval=5.2354565329139866e-05
Col 68 is statistically significantly different at alpha=0.1, pval=0.0037027715521498403
Col 69 is statistically significantly different at alpha=0.1, pval=0.0019984033347804674
Col 70 is statistically significantly different at alpha=0.1, pval=0.011251937907088618
Col 71 is statistically significantly different at alpha=0.1, pval=1.7528526208816926e-05
Col 72 is statistically significantly different at alpha=0.1, pval=0.00022168291435441
Col 73 is statistically significantly different at alpha=0.1, pval=0.011041327719660758
Col 74 is statistically significantly different at alpha=0.1, pval=0.00010046329586218606
Col 75 is statistically significantly different at alpha=0.1, pval=0.001367691651457593
Col 76 is statistically significantly different at alpha=0.1, pval=0.00011518783328862686
Col 77 is statistically significantly different at alpha=0.1, pval=0.0002875027967171801
Col 78 is statistically significantly different at alpha=0.1, pval=3.817367921016829e-05
Col 79 is statistically significantly different at alpha=0.1, pval=0.000266067343961606
Col 80 is statistically significantly different at alpha=0.1, pval=1.0031121587686663e-05
Col 81 is statistically significantly different at alpha=0.1, pval=1.8508449313552693e-06
Col 82 is statistically significantly different at alpha=0.1, pval=0.0009603944764140646
Col 83 is statistically significantly different at alpha=0.1, pval=0.000830025910032085
Col 84 is statistically significantly different at alpha=0.1, pval=5.840051592719411e-05
Col 85 is statistically significantly different at alpha=0.1, pval=2.4022545173836915e-06
Col 86 is statistically significantly different at alpha=0.1, pval=0.005274733554525336
Col 87 is statistically significantly different at alpha=0.1, pval=6.38585284843508e-05
Col 88 is statistically significantly different at alpha=0.1, pval=3.528393069584039e-05
Col 89 is statistically significantly different at alpha=0.1, pval=0.019712028501930177
Col 90 is statistically significantly different at alpha=0.1, pval=0.00017116246708367617
Col 91 is statistically significantly different at alpha=0.1, pval=0.01822689552933873
Col 92 is statistically significantly different at alpha=0.1, pval=0.09302323753835785
Col 93 is statistically significantly different at alpha=0.1, pval=4.6260713311729956e-05
Col 94 is statistically significantly different at alpha=0.1, pval=0.0021410262243836604
Col 95 is statistically significantly different at alpha=0.1, pval=6.898560022331357e-05
Col 96 is statistically significantly different at alpha=0.1, pval=0.0011087139945442977
Col 97 is statistically significantly different at alpha=0.1, pval=2.2200522827463517e-06
Col 98 is statistically significantly different at alpha=0.1, pval=0.0008423861732777188
Col 99 is statistically significantly different at alpha=0.1, pval=0.0009334465936843459
Total number different was 100, which is 100.0%

Now we see that all or most columns test to be statistically significant at the 10% level.

![Alt text](Capture.JPG "Optional title")